{% extends 'core/base.html' %} {% block title %} Transactions | {{ block.super }}{% endblock title %} {% block content %} {% include "core/messages.html" %}

<div class="row user-cards">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="fas fa-wallet"></i></div>
            <div class="content">
                <h4><span class="count">{{ user.balance }}</span></h4>
                <p>Main Wallet</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="fas fa-chart-line"></i></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.total_profit }}</span></h4>
                <p>Total Profit</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="fas fa-gift"></i></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.referral_bonus }}</span></h4>
                <p>Referral Bonus</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968260.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.account.bitcoins }}</span></h4>
                <p>BITCOIN Balance</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/6001/6001368.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.ethereums }}</span></h4>
                <p>ETHEREUM Balance</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/10464/10464514.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.usdt_trc20s }}</span></h4>
                <p>USDT TRC20 Balance</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/7829/7829735.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.trons }}</span></h4>
                <p>TRON Balance</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/6001/6001527.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.solanas }}</span></h4>
                <p>SOLANA Balance</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/6946/6946147.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.xrps }}</span></h4>
                <p>XRP Balance</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://w7.pngwing.com/pngs/1007/775/png-transparent-bnb-cryptocurrencies-icon-thumbnail.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.bnbs }}</span></h4>
                <p>Binance BNB Balance</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/6675/6675784.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.litecoins }}</span></h4>
                <p>LITECOIN Balance</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://logos-download.com/wp-content/uploads/2018/04/DogeCoin_logo_cercle.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.dogecoins }}</span></h4>
                <p>DOGEOIN Balance</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://static.vecteezy.com/system/resources/previews/011/307/328/original/shiba-inu-shib-badge-crypto-3d-rendering-free-png.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.shiba_inu }}</span></h4>
                <p>SHIBA INU Balance</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><img src="https://www.pngall.com/wp-content/uploads/10/Cardano-Crypto-Logo-PNG-Picture.png" /></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ user.cardano }}</span></h4>
                <p>CARDANO Balance</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="site-card">
            <div class="site-card-header">
                <h3 class="title">Recent Transactions</h3>
                <!-- Assuming you have the user's profile in the context as `user_profile` -->
            </div>
            <div class="site-card-body table-responsive">
                <div class="site-datatable">
                    <table class="display data-table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Transactions ID</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Fee</th>
                                <th>Status</th>
                                <th>Gateway</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-description">
                                        <div class="icon">
                                            <i
                                                icon-name="backpack
                                         "
                                            >
                                            </i>
                                        </div>

                                        <div class="description">
                                            <strong>Signup Bonus </strong>
                                            <div class="date">Jun 15 2023 06:06</div>
                                        </div>
                                    </div>
                                </td>
                                <td><strong>TRXQ3SJIPOZ01</strong></td>
                                <td>
                                    <div class="site-badge primary-bg">Signup bonus</div>
                                </td>

                                <td><strong class="green-color">+5 USD</strong></td>
                                <td><strong>{{ user.signup_bonus }} USD</strong></td>
                                <td>
                                    <div class="site-badge success">Success</div>
                                </td>
                                <td><strong>System</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="google_translate_element"></div>

{% endblock content %}
